<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/772b7313f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/error.css">
    <link rel="icon" href="/static/assets/logo.png" type="image/png">
    <title>Error 404</title>
</head>
<body>
    <div class="container">
        <div class="icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div class="message">Page Not Found</div>
        <a href="{{ url_for('home') }}" class="homepage-button">Homepage</a>
    </div>
</body>
</html>